<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Product</title>
    <link rel="stylesheet" href="/css/form-product.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="edit-product-box">
      <header><%- include('./partials/header')%></header>
      <main>
        <section>
          <form method="post" action='/products/create' enctype="multipart/form-data" id="formEdit">
            <div class="edit-form-element" id="productName">
              <label for="product-name">Product Name:</label>
              <input 
                type="text" 
                id="product-name"
                class="productName"
                name="name"  
                value="<%= locals.oldData ? oldData.name : null %>"
              />
              <span></span>
              <% if (locals.errors && errors.name) { %>
                <div class="text-danger">
                  <%= errors.name.msg %> 
                </div>
              <% } %>
            </div>

            <div class="edit-form-element" id="productDes">
              <label for="product-description">Description:</label>
              <textarea  rows="10" cols="50" id="product-description" name="description" class="productDescription"><%= locals.oldData ? oldData.description : null %></textarea>
              <span></span>
              <% if (locals.errors && errors.description) { %>
                <div class="text-danger">
                  <%= errors.description.msg %> 
                </div>
              <% } %>
            </div>

            <div class="edit-form-element" id="productIma">
              <label for="product-image">Product Image</label>
              <input type="file" name="image" id="product-image" />
              <span></span>
              <% if (locals.errors && errors.image) { %>
                <div class="text-danger">
                  <%= errors.image.msg %>
                </div>
              <% } %>
            </div>



            <div class="edit-form-element" id="productCate">

              <label for="product-category">Category</label>
              <select id="product-category" name="Categories_id">
                <option value="" disabled selected>- select category - </option>
                <% allCategories.forEach( category => { %>
                  <option 
                      value="<%= category.id %>"
                      <%= locals.oldData && (category === oldData.Categories_id) ? 'selected' : null %> 
                    ><%= category.name %> 
                  </option>
                <% }) %> 
              </select>
              <span></span>
              <% if (locals.errors && errors.Categories_id) { %>
                <div class="text-danger">
                  <%= errors.Categories_id.msg %>
                </div>
              <% } %>
            </div>

            <div class="price-time" id="productPri">
            <div class="edit-form-element">

              <label for="product-price">Price:</label>
              <input id="product-price" class="product-price" type="number" name='price' 
                  value="<%= locals.oldData ? oldData.price : null %>" />
              <span></span>
              <% if (locals.errors && errors.price) { %>
                <div class="text-danger">
                  <%= errors.price.msg %>
                </div>
              <% } %>
            </div>

            <div class="edit-form-element" id="productDelay">
              <label for="product-delay">Product Delay Time:</label>
              <input id="product-delay" class="delay-time" type="text" name='producttime' 
                  value="<%= locals.oldData ? oldData.producttime : null %>" />
              <span></span>
              <% if (locals.errors && errors.producttime) { %>
                <div class="text-danger">
                  <%= errors.producttime.msg %>
                </div>
              <% } %>
            </div>
          </div>
            <button type="submit">Create</button>
          </form>
        </section>
      </main>

      <footer>
        <%- include('./partials/footer')%>
      </footer>
    </div>
    <script src="/validations/front-editproducts.js"></script>
  </body>
</html>