<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')  %> 
    <title>Detail product</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/detail-product.css" />
  </head>
  <body>
    <div class="detail-product-box">
       <%- include('./partials/header')%>

      <main>
        <!--Single Product-->
        <% if (locals.product) { %> 
        <section class="detail-product-single">
          <article class="product-single-product">
            <img src="/img/products/<%= product.image  %> " alt="product image"/>
          </article>

          <article class="product-single-description">
            <h1><%= product.name.replace(/\b\w/g, l => l.toUpperCase()) %> </h1>
            <p>
              <%= product.description %> 
            </p>
            <i>
              <%= product.Category.name.replace(/\b\w/g, l => l.toUpperCase()) %> 
            </i>
            <h2>$<%= new Intl.NumberFormat("de-DE").format(product.price)%></h2>
            <% if(locals.isLogged && locals.userLogged.Roles_id == 1){ %>
              <div class="single-btn">
                <a href="/shopping-cart"> <button class="button-cart" onclick="addLocalStorage('<%= product.name %>','<%= product.image %>','<%= product.price %>')">Add to Cart</button></a>
                <a href="/products/edit/<%= product.id %>"><button  class="button-cart">Edit</button></a>
                <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST"  style="display: inline-flex">
                  <button  class="button-cart" type="submit" >Delete</button>
                </form>
              </div>
             <% }else {%> 
              <div class="single-btn" style="justify-content: center;">
                <a  href="/shopping-cart"> <button  class="button-cart" >Add to Cart</button></a>
              </div>
             <% } %> 
            
          </article>
        </section>
        <% } else {%> 
          <p class="announce">Este producto no existe</p>
        <% } %> 
        
        <section class="detail-product-others">
          <article class="product-others-title">
            <h1>Explore More Food</h1>
          </article>

          <section class="product-other-products">
            <% for (let index = 0; index < 4 ; index++) { const random = Math.floor(Math.random() * (products.length)); %>
            <article class="other-products-single">
              <img src="/img/products/<%= products[random].image %>" />
              <div class="other-products-single-text">
                <h1><%= products[random].name %> </h1>
                <p><%= products[random].description %></p>
                <h2>$ <%= new Intl.NumberFormat("de-DE").format(products[random].price)%></h2>
              </div>
              <div class="other-products-single-btn ">
                <button>+</button>
              </div>
            </article>
            <% } %> 
          </section>
        </section>
      </main>
      <footer class="f-edit">
      <%- include('./partials/footer.ejs') %> 
    </footer>
    </div>
  </body>
  <script>
    function addLocalStorage(name, image, price) {
      let allData = []
      let productData = {
        name,
        image,
        price
      }
      allData.push(productData)
      if(localStorage.getItem('products')) {
        let tempData = JSON.parse(localStorage.getItem('products'))
        tempData = tempData.concat(productData)
        localStorage.setItem('products', JSON.stringify(tempData))
      } else {
        localStorage.setItem('products', JSON.stringify(allData))
      }
    }
  </script>
</html>
