<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')  %> 
    <title>edit Product</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    
    <link rel="stylesheet" href="/css/form-product.css" />
 
  </head>
  <body>
    <div class="edit-product-box">
      <header>
        
       <%- include('./partials/header') %>
       

      </header>
      <% if (locals.product) { %>
      <main>
        <div class="selector-edit" >
          <h2 class="products-title">Estás editando: <p style="display: inline;"><%= product.name %></p></h2>
        </div>
        <section>
  
          <form action="/products/<%= product.id %>?_method=PUT" method="POST" id="formEdit" enctype="multipart/form-data">
            <div class="edit-image">
              <img src="/img/products/<%= product.image %> " />
            </div>
            <div class="edit-form-element" id="productName">
              <label for="product-name">Product Name</label>
              <input type="text" 
                     name="name" 
                     class="productName"
                     placeholder="Ej : Hamburguesa" 
                     value="<%= locals.oldData ? oldData.name : product.name  %>"/>
                     <span class="errorName"></span>
                <% if (locals.errors && errors.name) { %>
                  <div class="text-danger danger-productName" id="danger-productName">
                    <%= errors.name.msg %> 
                  </div>
                <% } %>
            </div>
            <div class="edit-form-element" id="productDes">
              <label for="product-description">Description</label>
              <textarea rows="10" name="description" class="productDescription" cols="50"><%= locals.oldData ? oldData.description : product.description  %></textarea>
              <span ></span>
              <% if (locals.errors && errors.description) { %>
                <div class="text-danger ">
                  <%= errors.description.msg %> 
                </div>
              <% } %>
            </div>
            <div class="edit-form-element" id="productIma">
              <label for="product-image">Product Image</label>
              <input  id="product-image" name="image" type="file" value="<%= locals.oldData ? oldData.image : product.image  %> "/>
              <span></span>
              <% if (locals.errors && errors.image) { %>
                <div class="text-danger danger-productImage">
                  <%= errors.image.msg %>
                </div>
              <% } %>
            </div>

            <div class="edit-form-element" id="productCate">

              <label for="product-category">Category</label>
              <select id="product-category" name="Categories_id">
                <% if (locals.oldData) { %>
                  <% allCategories.forEach(category => { %>
                      <option value="<%= category.id %>"
                          <%= locals.oldData && (category.id === oldData.Categories_id) ? 'selected' : null %> 
                          ><%= category.name %></option>
                  <% }); %>
                <% } else { %>
                    <% allCategories.forEach(category => { %>
                    <option value="<%= category.id %>" <% if (product.Category.id == category.id) { %><%= 'selected' %><% }; %>><%= category.name %></option>
                    <% }); %>
                <% } %> 
              </select>
              <span></span>
              <% if (locals.errors && errors.Categories_id) { %>
                <div class="text-danger">
                  <%= errors.Categories_id.msg %>
                </div>
              <% } %>
            </div>
            <div class="price-time">

            <div class="edit-form-element" id="productPri">

              <label for="product-price">Price</label>
              <input id="product-price" class="product-price" name="price" type="number" value="<%= locals.oldData ? oldData.price : product.price  %>"/>
              <span></span>
              <% if (locals.errors && errors.price) { %>
                <div class="text-danger">
                  <%= errors.price.msg %>
                </div>
              <% } %>
            </div>
            <div class="edit-form-element" id="productDelay">
              <label for="product-delay">Product Delay Time</label>
              <input id="product-delay" class="delay-time" name="producttime" type="text" value="<%= locals.oldData ? oldData.producttime : product.producttime %>"/>
              <span></span>
              <% if (locals.errors && errors.producttime) { %>
                <div class="text-danger">
                  <%= errors.producttime.msg %>
                </div>
              <% } %>
            </div>
          </div>
            <button type="submit">Update</button>
          </form>
        </section>
      </main>
      <% } else { %> 
        <p> Este producto no existe</p>
        <% } %> 
      <footer>
        <%- include('./partials/footer.ejs') %>
      </footer>
    </div>
    <script src="/validations/front-editproducts.js">
    
    </script>
  </body>
</html>