<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')  %> 
    <title>edit Product</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    
    <link rel="stylesheet" href="/css/form-product.css" />
  
  </head>
  <body>
    <div class="edit-product-box">
      <header>
        
       <%- include('./partials/header') %>
       

      </header>
      <% if (locals.product) { %>
      <main>
        <div class="selector-edit" >
          <h2 class="products-title">Estás editando: <p style="display: inline;"><%= product.name %></p></h2>
        </div>
        <section>

  
          <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="edit-image">
              <img src="/img/products/<%= product.image %> " />
            </div>

            <div class="edit-form-element" id="productName">
              <label for="product-name">Product Name</label>
              <input type="text" name="name" placeholder="Ej : Hamburguesa" value="<%= product.name  %>"/>
            </div>

            <div class="edit-form-element">
              <label for="product-description">Description</label>
              <textarea rows="10" name="description"  cols="50"><%= product.description  %> </textarea>
            </div>

            <div class="edit-form-element">
              <label for="product-image">Product Image</label>
              <input  id="product-image" name="product-image" type="file" value="<%= product.image  %> "/>
            </div>

            <div class="edit-form-element">
              <label for="product-category">Category</label>
              <select id="product-category" name="Categories_id">
                <% allCategories.forEach( category => { %>
                  <option value="<%= category.id %> ">
                    <%= category.name %> 
                  </option>
                <% }) %> 
              </select>
            </div>
            <div class="price-time">
            <div class="edit-form-element">
              <label for="product-price">Price</label>
              <input id="product-price" class="product-price" name="price" type="number" value="<%= product.price  %>"/>
            </div>

            <div class="edit-form-element">
              <label for="product-delay">Product Delay Time</label>
              <input id="product-delay" class="delay-time" name="productTime" type="text" value="<%= product.producttime %>"/>
            </div>
          </div>
            <button type="submit">Update</button>
          </form>
        </section>
      </main>
      <% } else { %> 
        <p> Este producto no existe</p>
        <% } %> 
      <footer>
        <%- include('./partials/footer.ejs') %>
      </footer>
    </div>
  </body>
</html>
