<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')  %> 
    <title>edit Product</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    
    <link rel="stylesheet" href="/css/form-product.css" />
    <link rel="stylesheet" href="/css/header-footer.css" />
  
  </head>
  <body>
    <div class="edit-product-box">
      <header>
        
       <%- include('./partials/header') %>
       

      </header>
      <% if (locals.product) { %>
      <main>
        <div class="selector-edit" >
          <h2 class="products-title">Estás editando: <p style="display: inline;"><%= product.name %></p></h2>
        </div>
        <section>

  
          <form action="/products/<%= product.id %>?_method=PUT" method="POST">

            <div class="edit-form-element">
              <label for="product-name">Product Name</label>
              <input type="text" name="name" placeholder="Ej : Hamburguesa" value="<%= product.name  %>"/>
            </div>

            <div class="edit-form-element">
              <label for="product-description">Description</label>
              <textarea rows="10" name="description"  cols="50"><%= product.description  %> </textarea>
            </div>

            <div class="edit-form-element">
              <label for="product-image">Product Image</label>
              <input  id="product-image" type="file"/>
            </div>

            <div class="edit-form-element">
              <label for="product-category">Category</label>
              <select id="product-category" name="category">
                <option value="hamburguer">Hamburguer</option>
                <option value="vegan">Vegan</option>
                <option value="chinese">Chinese</option>
                <option value="icecream">Ice Cream</option>
                <option value="drinks">Drinks</option>
              </select>
            </div>

            <div class="edit-form-element">
              <label for="product-price">Price</label>
              <input id="product-price" name="price" type="number" value="<%= product.price  %>"/>
            </div>

            <div class="edit-form-element">
              <label for="product-delay">Product Delay Time</label>
              <input id="product-delay" name="productTime" type="text" value="<%= product.productTime %>"/>
            </div>

            <button type="submit">Update</button>
          </form>
        </section>
      </main>
      <% } else { %> 
        <p> Este producto no existe</p>
        <% } %> 
      <footer>
        <%- include('./partials/footer.ejs') %>
      </footer>
    </div>
  </body>
</html>
