<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')  %> 
    <title>All users</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/header-footer.css" />
    <link rel="stylesheet" href="/css/manage-users.css" />
  </head>
  <body>
 
       <%- include('./partials/header')%>

      <main>
          <h1>Manage Users</h1>
          <section class="container-ext">
            <section class="container-int">
              <table class="tftable" >
                <tr><th class="left"><p>ID</p></th><th><p>Name</p></th><th> <p>See</p></th><th><p>Edit</p></th><th  class="right"><p>Delete</p></th></tr>
                <% users.forEach(user => { %>
                    <tr>
                      <td class="left"><%= user.id%> </td>
                      <td><%= user.fullname%> </td>
                      <td><a href="/administrar/detail/<%= user.id%> "> <i class="fas fa-eye"></i></a></td>
                      <td><a href="/administrar/edit/<%= user.id%> "> <i class="fas fa-edit"></i></a></td>
                      <td class="right"><a href="/administrar/delete/<%= user.id%>"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                    <% }); %>
                </table>
            </section> 
        </section>
    </main>
  
    <footer class="f-cart">
      <%- include('./partials/footer.ejs') %>
      </footer>
  </body>
</html>
