<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">   
</head>
<body>
    <main>
        <form action="/users/register" class="registro" method="POST" enctype="multipart/form-data">
        <div class="register">
            <h1 class="title">Register</h1>
            <div>
                <input type="text" placeholder="Full name" id="fullname" name="fullname" class="<%= locals.errors && errors.fullname ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.fullname : null %>">
            </div>
            <div class="text-danger danger-name">
              <% if (locals.errors && errors.fullname) { %>
                <%= errors.fullname.msg %> 
              <% } %> 
            </div>
            <div>
                <input type="text" placeholder="Email" id='email' name="email" class="<%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email : null %>">
            </div>
            <div class="text-danger danger-email">
              <% if (locals.errors && errors.email) { %>
                <%= errors.email.msg %> 
              <% } %>
            </div>
            <div class="teladress">
                <div>
                    <input type= "text" placeholder="Telephone" name="number" class="<%= locals.errors && errors.number ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.number : null %>">
                    <% if (locals.errors && errors.number) { %>
                        <div class="text-danger">
                            <%= errors.number.msg %> 
                        </div>
                    <% } %>
                </div>
                <div>
                    <input type ="text" placeholder="Address" name="address" class="<%= locals.errors && errors.address ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.address : null %>">
                    <% if (locals.errors && errors.address) { %>
                        <div class="text-danger">
                            <%= errors.address.msg %> 
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="radio-button">
                <div>
                    <input type="radio" name="role" value="1">
                    <label>Administrator </label>
                </div>
                <div>
                    <input type="radio" name="role" value="2">
                    <label>Normal user </label>
                </div>
            </div>
            <div>
                <input type="password" placeholder="Password" id="password" name="password" class="<%= locals.errors && errors.password ? 'is-invalid' : null %>">
            </div>
            <div class="text-danger danger-password">
              <% if (locals.errors && errors.password) { %>
                <%= errors.password.msg %> 
              <% } %>
            </div>
            <div>
                <input type="password" placeholder="Confirm Password" name="cpassword" class="<%= locals.errors && errors.cpassword ? 'is-invalid' : null %>">
            </div>
            <% if (locals.errors && errors.cpassword) { %>
                <div class="text-danger">
                    <%= errors.cpassword.msg %> 
                </div>
            <% } %>
            <div>
                <input type="file" id="image" name="userImage" >
                <div class="text-danger danger-image">
                  <% if (locals.errors && errors.userImage) { %>     
                    <%= errors.userImage.msg %>
                  <% } %>	
                </div>	
                
            </div>
            <div class="botonok">
               <button type="submit">OK!</button>
            </div>
            <div class="backhome">
                <a href="/"><i class="fas fa-caret-left"></i></a>
            </div>
        </div>
    </form>
    </main>
<script src="/js/register.js"></script>
</body>
</html>