<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header-footer.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>User Profile</title>
  </head>
  <body>
    <header><%- include('./partials/header')%></header>
    <main>
      <div class="container">
        <div class="int-1">
          <form action="/users/edit-user/<%=locals.userLogged.id%>?_method=PUT" method="POST" class="form-edit" enctype="multipart/form-data">
            <div class="box">
              <img src="/img/users/<%= locals.userLogged.userimage %> " />
            </div>
            <div class="container-form">
              <div>
                <input
                  type="text"
                  placeholder="Full name"
                  name="fullname"
                  value="<%= locals.userLogged.fullname || null%>"
                  required
                />
              </div>
              <div>
                <input
                  type="text"
                  placeholder="Email"
                  name="email"
                  value="<%= locals.userLogged.email %>"
                  required
                />
              </div>
              <div class="teladress">
                <div>
                  <input
                    type="text"
                    placeholder="Telephone"
                    name="number"
                    value="<%= locals.userLogged.number %>"
                    required
                  />
                </div>
                <div>
                  <input
                    type="text"
                    placeholder="Address"
                    name="address"
                    value="<%= locals.userLogged.address %>"
                    required
                  />
                </div>
              </div>
              <% if (locals.userLogged.Roles_id == 1) { %>
              <div class="radio-button">
                <div>
                  <input type="radio" name="role" value="1" />
                  <label>Administrator </label>
                </div>
                <div>
                  <input type="radio" name="role" value="2" />
                  <label>Normal user </label>
                </div>
              </div>
              <% } %>
              <div>
                <input type="file" name="userImage" />
              </div>
              <div>
                <input
                  type="password"
                  placeholder="Old password"
                  name="password"
                  required
                />
              </div>
              <div>
                <input
                  type="password"
                  placeholder="New password"
                  name="confirmpassword"
                  required
                />
              </div>
              <div>
                <input
                  type="password"
                  placeholder="Confirm new Password"
                  name="newpassword"
                  required
                />
              </div>
              <button class="button-edit" type="submit">Edit profile</button>
            </div>
          </form>
        </div>
        <hr />
        <div class="int-2">
          <h4>Role</h4>
          <% if (locals.userLogged.Roles_id == 2) { %>
          <div class="container-type">Normal user</div>
          <% } else if (locals.userLogged.Roles_id == 1){ %>
          <div class="container-type">Administrator</div>
          <% } %>
          <h4>Recent orders</h4>
          <div class="container-order">Order 1 ...</div>
          <div class="container-order">Order 2 ...</div>
          <div class="container-order">Order 3 ...</div>
          <div class="delete">
            <a href="#">Delete my account</a>
          </div>
        </div>
      </div>
    </main>
    <footer class="f-profile"><%- include('./partials/footer.ejs') %></footer>
  </body>
</html>
